<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Css Lecture</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Heading Level 1-6</h1>
    <p id="p1">Paragraph</p>

    <div>Division(chữ)</div>
    <div class="comic bluetext">Division(chữ)2</div>
    <div class="comic">Division(chữ)3</div>
    <div>Division(chữ)4</div>


    <img src="https://icdn.vnecdn.net/vnexpress/2017/03/27/cobelapluanbaoveTrump-14906071-1116-7744-1490607627_300x180.jpg" alt="mô tả">
    <a href="http://www.example.com" target="_blank">Example.com</a>

    <input type="text" name="username">

    <ul>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
    </ul>
    <ol>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
    </ol>

    <div>
        <a href="https://www.google.com.vn" target="_blank">google.com</a>
        <p>
            <a href="https://www.google.com" target="_blank">google.com</a>
        </p>
    </div>
</body>
</html>